/*==========================================
        TABLET (991px)
==========================================*/

@media (max-width:991px){

    header{
        padding:15px 5%;
    }

    .logo{
        font-size:24px;
    }

    .hero-container{
        flex-direction:column-reverse;
        text-align:center;
    }

    .hero-left h1{
        font-size:46px;
    }

    .hero-left p{
        margin:auto;
        margin-bottom:30px;
    }

    .hero-buttons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .hero-right img{
    width:100%;
    max-width:420px;
    height:auto;
}

    .hero{
        padding:120px 5% 80px;
    }

    .hero-content{
        max-width:100%;
    }

    .hero p{
        max-width:600px;
        margin:20px auto;
    }

    @media(max-width:768px){

.collection-grid{
    grid-template-columns:1fr;
}

}

    .why-container{
        grid-template-columns:repeat(2,1fr);
    }

    .product-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .process-container{
        grid-template-columns:repeat(2,1fr);
    }

}

/*==========================================
        MOBILE (768px)
==========================================*/

@media(max-width:768px){

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
    height:70px;
}

.menu-toggle{

    display:block;

    z-index:1002;

}

.btn{

    display:none;

}
.hero{

background-position:center top;

background-size:cover;

min-height: 40vh;   
    
padding: 100px 20px 50px;

}

.nav-links{

    position:fixed;

    top:0;

    right:-100%;

    width:280px;

    height:100vh;

    background:#111;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:35px;

    transition:.4s;

    z-index:1001;

}

.nav-links.active{

    right:0;

}

.product-grid{

grid-template-columns:1fr;

gap:25px;

}

.product-card{

width:100%;
max-width:320px;
margin:auto;

}
.why-container{

grid-template-columns:1fr;

}
.process-container{

grid-template-columns:1fr;

}

.contact-container{

display:grid;

grid-template-columns:1fr;

gap:25px;

}
}
/*==========================================
        SMALL MOBILE (480px)
==========================================*/

@media (max-width:480px){

    .logo{

        font-size:20px;

    }

    .hero h1{

        font-size:30px;
        line-height: 1.2;

    }

    .hero p{

        font-size:15px;

    }

    .tag{

        font-size:13px;
        padding:6px 15px;

    }

    .primary-btn,
    .secondary-btn{

        width:100%;
        max-width:280px;

    }

    .section-title h2{

        font-size:26px;

    }

    .collection-card img{

        height:200px;

    }

    .card-content h3{

        font-size:20px;

    }

    .card-content p{

        font-size:14px;

    }

}

/* ////extra/ */

@media(max-width:768px){

.menu-toggle{
    display:block;
}

.nav-links{
    position:fixed;
    top:0;
    right:-100%;
    width:260px;
    height:100vh;
    background:#111;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:.4s;
    z-index:999;
}

.nav-links.active{
    right:0;
}
}

/* ///new/ */
@media(max-width:768px){

.hero{

background-image:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("../assets/images/mobile-bg.png");

background-size:cover;
background-position:center;

}

}

/*==============================
      MOBILE PRODUCT BANNER
==============================*/

/* @media (max-width:768px){

    .product-banner{

        height: 45vh;

        background-image:
        linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
        url("../assets/images/product-bg-mobile.png");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        animation: none;
    }

    .product-banner h1{

        font-size: 42px;

    }

    .product-banner p{

        font-size: 16px;
        width: 90%;

    }

} */

@media (max-width:991px){

.collection-grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media (max-width:768px){

.collection-grid{
    grid-template-columns:1fr;
}

}