
<nav class="navbar">

    <a href="index.html" class="logo">
        OM 3D Gift Hub
    </a>

    <ul class="nav-links">

        <li><a href="index.html">Home</a></li>

        <li><a href="index.html#products">Collections</a></li>

        <li><a href="products.html">Products</a></li>

        <li><a href="index.html#contact">Contact</a></li>

    </ul>
    <a href="https://wa.me/917639702817?text=Hi%20OM%203D%20Gift%20Hub,%20I%20am%20interested%20in%20your%20products.%20Could%20you%20please%20share%20more%20details%3F"
   target="_blank"
   class="btn">
    WhatsApp
</a>

    <div class="menu-toggle">
        ☰
    </div>

</nav>